.card-wrapper{
    margin-top: 20px;
    border: 1px solid #ccc;
    width: 100%;
    height: 250px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left-side{
    padding-right: 20px;
    width: 200px;

}
.left-side img{
    width: 100%;
    border-radius: 30px;
}

